.hero a.link {
  color: #3273dc !important;
}

a.navlink {
height: 0;
}

.hero.software {
  -webkit-clip-path: polygon(0 10%, 25% 0%, 85% 0, 0 15%, 0 0);
  clip-path: polygon(0 10%, 25% 0, 85% 0, 0% 15%, 0 0%);
}

.hero.software.scrolled {
  animation-duration: 0.8s;
  animation-name: softwarestripe;
  -webkit-clip-path: polygon(0 20%, 35% 0%, 65% 0, 0 35%, 0 0);
  clip-path: polygon(0 20%, 35% 0, 65% 0, 0% 35%, 0 0%);
}

@keyframes softwarestripe {
  from {
    -webkit-clip-path: polygon(0 10%, 25% 0%, 85% 0, 0 15%, 0 0);
    clip-path: polygon(0 10%, 25% 0, 85% 0, 0% 15%, 0 0%);
  }

  to {
    -webkit-clip-path: polygon(0 20%, 35% 0%, 65% 0, 0 35%, 0 0);
    clip-path: polygon(0 20%, 35% 0, 65% 0, 0% 35%, 0 0%);
  }
}

a.navbar-item:hover {
  box-sizing: border-box;
  border-bottom: 5px solid rgba(0,0,0, 0.15);
  border-right: 5px solid rgba(0,0,0, 0.15);
}

.hero-head h1.title {
  padding: 2rem;
}

div#iceland-image-gallery img {
  width: 100%;
}

div.iceland-text {
  padding: 4em;
  padding-top: 1em;
}

div.iceland-text div.maketitle {
  text-align: center;
}

div.iceland-text h2 {
  font-size: 240%;
  font-weight: bold;
}

div.iceland-text h3.sectionHead:not(:first-of-type) {
  padding-top: 1em;
}

div.iceland-text h3, div.iceland-text .author {
  font-size: 160%;
}

div#iceland-image-gallery div.modal .caption {
  padding: 0.3em;
  font-size: 1.2em;
}

.software-content h2.imped {
  background-image: url(../img/imp.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding-left: 1.5em;
  font-size: 4em;
}

.software-content h3 {
  opacity: 0.6;
}

div.rain-container {
  overflow: hidden;
  position: relative;
}

div.tear {
  width: 50px;
  height: 50px;
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  border: 3px solid #2cabd7;
  background-color: #2cabd7;
  transform: rotate(-45deg);
  margin-top: 20px;
  position: absolute;
  top: -50px;
  transition-property: top;
  transition-timing-function: linear;
}
